.ToDoList {
  background-color: white;
  width: 400px;
  padding: 0.5em 1em;
}

@media (max-width: 450px) {
  .ToDoList {
    width: 280px;
  }
}

@media (max-width: 320px) {
  .ToDoList {
    width: 100%;
  }
}
