.ToDoHeader {
  width: 400px;
  background-image: url("../../flowers.jpg");
  margin-top: 2em;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
}

.ToDoHeader h1 {
  font-size: 2em;
  font-weight: normal;
}

.ToDoHeader p {
  font-size: 1.5em;
}

@media (max-width: 450px) {
  .ToDoHeader {
    width: 280px;
    margin-top: 3em;
  }
}

@media (max-width: 320px) {
  .ToDoHeader {
    width: 100%;
    margin-top: 0;
  }
  .ToDoHeader h1 {
    padding: 0 1em;
  }
  .ToDoHeader p {
    padding: 0 1.5em;
  }
}
